* {
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: teal;
    color: white;
    border-radius: 100px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.Thesheriff {
transform: scale(2);
}
